# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2f718bfe4229227e466cea966983cd9600f31c7e46c7cf5c151a7576608f41516a450c489872de9906604942cced90ac4a9d78b4dc4d9cfe3e41d67b5d74b96a

test:
  secret_key_base: 1d96ce0d1ae4509785ad6523e28155466b3790767d958488eb8a935b6ed7b89650045ee59074455c4de25f04b59addfe2131ec767d5861a043b992d9a660fff9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
